@charset "UTF-8";
.header {
  background-color: var(--violeta); }

.menu {
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  padding: 100px;
  background-color: var(--pinksuave); }

.menu__links {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 800;
  list-style: none;
  float: right;
  line-height: 90px; }

.menu__links li img {
  transition: 450ms;
  width: 100px;
  height: 100px; }

.menu__links li img:hover {
  transition: 750ms;
  width: 120px;
  height: 120px; }

.menu__links li {
  display: inline-block;
  margin: 0 20px;
  vertical-align: middle; }

ul li {
  margin: 30px; }

ul li p {
  color: var(--blanco); }

.menu__links li a {
  color: var(--negro);
  text-decoration: none;
  font-size: 18px; }

.menu__links li a:hover {
  color: var(--rojo);
  padding-bottom: 7px;
  border-bottom: 2px solid var(--rojo); }

:root {
  --primero: #C13A2D;
  --rojo: #F05552;
  --coral:#F48886;
  --pink: #ED9896;
  --pinksuave: #FEC9CB;
  --coralSuave: #EA8888;
  --negro: #1E1E1E;
  --blanco: #FFF;
  --violeta: #8064A2; }

html {
  font-size: 12px; }

@media screen and (min-width: 320px) {
  html {
    font-size: calc(12px + 6 * ((100vw - 320px) / 680)); } }

@media screen and (min-width: 1000px) {
  html {
    font-size: 18px; } }

.btn__personalizado,
.btn__personalizado:hover,
.btn__personalizado:active,
.btn__personalizado:visited,
.btn__personalizado:focus {
  background-color: var(--violeta);
  border-color: var(--violeta); }

.texto {
  font-size: 2rem;
  /* 20px */ }

a {
  font-size: 2rem;
  /* 20px */ }

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px; }

.santa {
  transition: 750ms;
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  font-size: 5rem;
  /* 20px */
  color: var(--rojo); }

.santa:hover {
  transition: 750ms;
  font-size: 6rem; }

.cachucha {
  transition: 750ms;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  /* 20px */ }

.cachucha:hover {
  transition: 750ms;
  font-size: 4rem; }

.section {
  padding: 7em 0;
  clear: both;
  position: relative; }

@media screen and (max-width: 768px) {
  section {
    padding: 2em 0; } }

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--blanco); }

.carrousel {
  background-color: var(--violeta);
  padding: 5%;
  text-align: center; }
  .carrousel img {
    width: auto;
    height: auto; }

@media (min-width: 992px) {
  .carrousel {
    text-align: left; } }

.carrusel__titulo {
  font-family: 'Dancing Script', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--blanco); }

.carrusel__descripcion {
  font-size: 1rem;
  color: var(--pinksuave); }

ul ul {
  position: absolute;
  display: none; }

ul ul li {
  display: block; }

ul li:hover ul {
  display: block; }

.flex-container {
  color: #f4bcbc;
  font-size: 1rem; }

.row {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.titulo {
  color: #ffffff; }

.column {
  width: 45%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin: 20px; }

#texto {
  display: inline-block;
  vertical-align: top; }

/*--------------------------------- Responsive Media Quaries -----------------------------*/
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; } }

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

.contenedor__boton :hover {
  color: #f4bcbc;
  background-color: #F05552; }

.nuestros__productos {
  background: var(--primero);
  padding-top: 100px;
  padding-bottom: 90px; }

.nuestros__productos .tajeta {
  background: var(--negro);
  margin-bottom: 30px; }

.nuestros__productos .tajeta {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px; }

.nuestros__productos .tajeta .department_thumb {
  overflow: hidden;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px; }

.nuestros__productos .tajeta .department_thumb img {
  width: 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.nuestros__productos .tajeta .contenido__tarjeta {
  padding: 22px 30px 24px 30px; }

.nuestros__productos .tajeta .contenido__tarjeta h3 {
  margin-bottom: 0; }

.nuestros__productos .tajeta .contenido__tarjeta h3 a {
  text-align: center;
  font-size: 22px;
  color: var(--coralSuave);
  line-height: 33px;
  font-weight: 700; }

.nuestros__productos .tajeta .contenido__tarjeta h3 a:hover {
  color: var(--rojo); }

.nuestros__productos .tajeta .contenido__tarjeta p {
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  color: var(--violeta);
  margin-top: 5px;
  margin-bottom: 10px; }

.nuestros__productos .tajeta .contenido__tarjeta {
  color: var(--pink);
  font-size: 16px; }

.nuestros__productos .tajeta .contenido__tarjeta a.learn_more:hover {
  text-decoration: none; }

.nuestros__productos .tajeta:hover .department_thumb img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

/* Sección de Galería -*/
.galeria-section {
  background: #151515;
  padding-bottom: 70px;
  padding-top: 95px; }

.galeria-controls {
  text-align: center;
  margin-bottom: 45px; }

.galeria-controls ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
  color: var(--BlancoDentestic);
  display: inline-block;
  margin-right: 45px;
  cursor: pointer;
  position: relative; }

.galeria-controls ul li.active {
  color: var(--VerdeDentestic); }

.galeria-controls ul li.active:after {
  opacity: 1; }

.galeria-controls ul li:after {
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 2px;
  background: var(--RojoDentestic);
  content: "";
  opacity: 0; }

.galeria-controls ul li:last-child {
  margin-right: 0; }

.galeria-item {
  text-align: center;
  position: relative;
  z-index: 1;
  margin-bottom: 30px; }

.galeria-item:hover:after,
.galeria-item:hover:before {
  opacity: 1; }

.galeria-item:hover .gi-hover {
  opacity: 1;
  visibility: visible; }

.galeria-item:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: var(--VerdeSecundario);
  content: "";
  opacity: 0;
  z-index: 2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.galeria-item:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  content: "";
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.galeria-item .gi-hover-warp {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 9; }

.galeria-item .gi-hover {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.galeria-item .gi-hover a {
  height: 60px;
  width: 60px;
  border: 2px solid var(--BlancoDentestic);
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  display: inline-block;
  color: var(--VerdeSecundario); }

.galeria-item .gi-hover a:first-child {
  margin-right: 15px; }

.galeria-item .gi-hover h6 {
  color: var(--GrisDentestic);
  margin-top: 25px; }

.galeria-item .gi-hover h6 span {
  font-family: "Quicksand", sans-serif;
  margin-top: 7px;
  display: block; }

.footer__bg {
  background-color: var(--primero); }

.footer {
  padding: 2%;
  background-color: var(--pinksuave);
  border-top-left-radius: 10%;
  border-top-right-radius: 10%; }

.footer__redsocial a {
  display: inline-block;
  font-size: 16px;
  color: var(--primero);
  height: 46px;
  width: 46px;
  background: var(--negro);
  border-radius: 50%;
  line-height: 46px;
  text-align: center;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  margin-right: 6px; }

.footer__redsocial a:last-child {
  margin-right: 0; }

.footer__redsocial a:hover {
  background: var(--primero);
  color: var(--pinksuave); }
