.footer__bg {
	background-color: var(--primero);
  }
  
  .footer {
	padding: 2%;
	background-color: var(--pinksuave);
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
  }
  
  .footer__redsocial a {
	display: inline-block;
	font-size: 16px;
	color: var(--primero);
	height: 46px;
	width: 46px;
	background: var(--negro);
	border-radius: 50%;
	line-height: 46px;
	text-align: center;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	margin-right: 6px;
  
	&:last-child {
	  margin-right: 0;
	}
  
	&:hover {
	  background: var(--primero);
	  color: var(--pinksuave);
	}
  }