.footer__bg {
	background-color: var(--primero);
  }
  
  .footer {
	padding: 2%;
	background-color: var(--pinksuave);
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
  }
  
  .footer__redsocial a {
	display: inline-block;
	font-size: 16px;
	color: var(--primero);
	height: 46px;
	width: 46px;
	
	border-radius: 50%;
	line-height: 46px;
	text-align: center;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	margin-right: 6px;
  
	&:last-child {
	  margin-right: 0;
	}
  
	&:hover {
	  background: var(--primero);
	  color: var(--pinksuave);
	}
  }

  $redes: ( /*Declaramos nuestro mapa*/
        twitter: #55acee,
        facebook:  #3a5795,
        instagram: #C25E30,
		whatsapp:#66c230,
		youtube:#b98181
); 
/*Creamos el bucle para usar los valores del mapa*/
@each $red, $color in $redes {
   .btn--#{$red} {
       background-color: $color;
   }
}
