

.menu {
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  padding: 100px;
  background-color: var(--pinksuave);
}

.menu__links { 

  .navbar-nav{
    align-items: center;
  }
  li {
       
    p {
      color: var(--blanco);
    }
    img {
      transition: 450ms;
      width: 100px;
      height: 100px;

      &:hover {
        transition: 750ms;
        width: 120px;
        height: 120px;
      }
    }
    a {
      color: var(--negro);
      text-decoration: none; 
  
      &:hover {
        color: var(--rojo);
        padding-bottom: 7px;
        border-bottom: 2px solid var(--rojo);
      }
     
    }
    display: inline-block;

    vertical-align: middle;
    a.nav-link.active {
      color: var(--rojo);
      padding-bottom: 7px;
      border-bottom: 2px solid var(--rojo);
    }
  }
}


